<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Activation report</title>
    <link href="typo3conf/ext/user_account_ext/Resources/Public/Css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="d-flex flex-column justify-content-center align-items-center pt-5" style="height:100px;">
        <h1 class="pt-5">The activation is successfull</h1>
        <br>
        <p>You can close this tab now</p>
    </div>

</body>

</html>